@use '../foundation/config' as *;

.single-calendar,
.p-calendar {

  .MuiInputBase-root {
    height: 40px;
  }

  label {
    top: -8px;

    &.MuiInputLabel-shrink {
      top: 0;
    }
  }

  input {
    display: block;
    box-sizing: content-box;
    width: 100%;
    min-width: 0;
    height: 1.4375em;
    margin: 0;
    padding: 0 14px;
    padding-top: 1px;
    color: currentColor;
    font: inherit;
    letter-spacing: inherit;
    background: none;
    border: 0;
    animation-name: mui-auto-fill-cancel;
    animation-name: mui-auto-fill-cancel;
    animation-duration: 10ms;
    animation-duration: 10ms;
    -webkit-tap-highlight-color: transparent;
  }
}

.p-calendar {
  label {
    top: -8px;
  }
}