@use '../foundation/config' as *;

.data-table {
  .MuiTableBody-root {
    .MuiTableCell-root {
      border-right: 1px solid color(--border-table);

      &:last-child {
        border-right: none;
      }

      &.no-border {
        border-left: 0;
      }
    }

  }

}

.table-search {
  .u-table-filter__group {
    display: flex;
    justify-content: space-between;
  }
}

//Datatable-ui
.data-table {
  .MuiDataGrid-root {
    position: relative;

    .MuiDataGrid-columnHeaders,
    .MuiDataGrid-pinnedColumnHeaders {
      background-color: color(--blue-table);

      .MuiDataGrid-columnHeaderTitleContainer {
        justify-content: center;
      }

      .MuiDataGrid-menuIcon {
        display: none;
      }

      .css-yrdy0g-MuiDataGrid-columnHeaderRow {
        color: color(--white);

        .MuiDataGrid-columnSeparator {
          visibility: visible;
        }

        .MuiSvgIcon-root {
          color: color(--white);
        }
      }

      .MuiDataGrid-columnSeparator {
        opacity: 0 !important;
        ;
      }

      .table-hearder-border {
        border-top: 1px solid #fff;
        border-right: 1px solid #fff;
      }

      .hearder-group {
        .MuiDataGrid-withBorderColor {
          border: none;
        }
      }

    }

    .MuiDataGrid-virtualScroller {
      .MuiDataGrid-cell {
        border-top: 1px solid #f0f0f0;
        border-right: 1px solid #f0f0f0;
      }
    }

    .table-action {
      display: flex;
      gap: 10px;
      justify-content: center;

      .table-action-item button {
        width: 24px;
        height: 24px;
        padding: 5px;
        border: 1px solid rgba(0, 0, 0, 0.87);
        border-radius: 100%;


      }

      svg {
        @include fontSize(16);
      }

    }
  }


}
