@use '../foundation/config' as *;

.data-table {
  .MuiTableBody-root {
    .MuiTableCell-root {
      border-right: 1px solid color(--border-table);

      &:last-child {
        border-right: none;
      }

      &.no-border {
        border-left: 0;
      }
    }

  }

}

.table-search {
  background-color: #EDF0F4;
  margin-bottom: 20px;

  .u-table-filter__group {
    display: flex;
    justify-content: space-between;
  }
}

//Datatable-ui
.data-table {
  .MuiDataGrid-root {
    position: relative;

    .MuiDataGrid-columnHeaders,
    .MuiDataGrid-pinnedColumnHeaders {
      background-color: #F0F0F0;

      .MuiDataGrid-columnHeader {
        // border-top: 1px solid #e0e0e0;
        border-right: 1px solid color(--border-table);

        &.MuiDataGrid-columnHeader--moving {
          background-color: inherit;
        }
      }

      .MuiDataGrid-columnHeaderTitleContainer {
        justify-content: center;
      }

      .MuiDataGrid-menuIcon {
        display: none;
      }

      .css-yrdy0g-MuiDataGrid-columnHeaderRow {
        color: color(--color-table);

        .MuiDataGrid-columnHeaderTitle {
          font-weight: bold;
        }

        .MuiDataGrid-columnSeparator {
          visibility: visible;
        }

        .MuiSvgIcon-root {
          color: color(--color-table);
          font-weight: 700;
        }
      }

      .MuiDataGrid-columnSeparator {
        opacity: 0 !important;
        ;
      }

      .table-hearder-border {
        // border-top: 1px solid #DAE2EE;
        border-right: 1px solid color(--border-table);
        z-index: 1;
      }

      .hearder-group {
        .MuiDataGrid-withBorderColor {
          border: none;
        }
      }

    }

    .MuiDataGrid-virtualScroller {
      .MuiDataGrid-cell {
        border-right: 1px solid;
        border-color: color(--border-table);
        background-color: color(--white);
        color: color(--color-table);
        font-weight: 700;
        padding: 15px 10px;
      }
    }

    .table-action {
      display: flex;
      gap: 15px;
      justify-content: center;
      cursor: pointer;
      align-items: center;

      .table-action-item {
        display: flex;
        align-items: center;
      }

      .table-action-item button {
        width: 24px;
        height: 24px;
        padding: 5px;
        border: 1px solid rgba(0, 0, 0, 0.87);
        border-radius: 100%;
      }

      svg {
        @include fontSize(20);
      }

    }
  }


}