@use '../foundation/config' as *;

.data-table {
  .MuiTableBody-root {
    .MuiTableCell-root {
      border-right: 1px solid color(--border-table);

      &:last-child {
        border-right: none;
      }

      &.no-border {
        border-left: 0;
      }
    }

  }

}

.table-search {
  .u-table-filter__group {
    display: flex;
    justify-content: space-between;
  }
}

//Datatable-ui
.data-table {
  .MuiDataGrid-root {
    position: relative;

    .MuiDataGrid-columnHeaders,
    .MuiDataGrid-pinnedColumnHeaders {
      background-color: color(--blue-table);

      .MuiDataGrid-columnHeaderTitleContainer {
        justify-content: center;
      }

      .MuiDataGrid-menuIcon {
        display: none;
      }

      .css-yrdy0g-MuiDataGrid-columnHeaderRow {
        color: color(--white);

        .MuiDataGrid-columnSeparator {
          visibility: visible;
        }

        .MuiSvgIcon-root {
          color: color(--white);
        }
      }

    }

  }


}